
<ul  class=" lg:flex font-semibold text-slate-600 text-lg gap-10 xl:gap-16">
    <li class="p-3 border-t  lg:border-0">
      <a [routerLink]="['']">Home</a>
    </li>
    <li class="p-3 border-t lg:border-0">
      <a [routerLink]="['all-cources']">All Coures</a>
    </li>
    <li class="p-3 border-t lg:border-0">
      <a [routerLink]="['pages']" >Pages</a>
    </li>
    <li class="p-3 border-t lg:border-0">
      <a [routerLink]="['blog']" >Blog</a>
    </li>
    <li  class="p-3 border-y lg:border-0">
      <a [routerLink]="['contact']">Contact</a>
    </li>

</ul>