<nav class="absolute w-full top-0 left-0 h-screen z-50 {{isSidebarShowing?'flex':'hidden'}}">
  <div class="bg-white w-full md:max-w-sm shadow-2xl">
    <div class="flex justify-end p-5">
      <svg (click)="this.closeSideBar()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
      
    </div>
    <div>
      <div class="mt-3"> <app-phone></app-phone></div>
      <div class="mt-3"> <app-email></app-email></div>
      <div class="mt-6 ">
        <app-menu></app-menu>
      </div>
    
      <div class="mt-6"> <app-authlinks></app-authlinks></div>
      <div class="mt-6">
        <app-sociallinks></app-sociallinks>
      </div>
    </div>

  </div>
  <div (click)="this.closeSideBar()" class="bg-gray-900 hidden md:block md:w-full opacity-70">
   
  </div>

</nav>
<header class="absolute w-full z-40">
  <div class="bg-slate-800 hidden lg:block ">
    <div class="container mx-auto text-white py-2 ">
      <ul class="flex justify-between">
        <li>
          All Course 28% Off <span class="text-emerald-400">Diwali Offer</span>
        </li>
        <li>
          <img src="../assets/shapes/shape-1.webp" alt="Arrow">
        </li>
        <li class="">
      <app-phone></app-phone>
    </li>
      <li class="">
       <app-email></app-email>
      </li>
      
          <li>
            <img src="../assets/shapes/shape-2.webp" alt="Arrow">
          </li>
   
        <li>
          <app-sociallinks></app-sociallinks>
        </li>

      </ul>
    </div>
  </div>

    <div class="px-5 {{isMenuScrolled?'fixed top-0 w-full bg-white shadow-2xl animate__slideInDown':'pt-10 '}} ">
    <div class=" py-5 container border-emerald-800 {{isMenuScrolled?'':'border'}} border-opacity-30 rounded-xl flex items-center justify-between"  >
      <a href="">
        <img src="../assets/logo.png" width="200" alt="" class="rounded-lg">
      </a>
      <div class="lg:hidden"> <svg (click)="openSideBar()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
        </div>
        <app-menu  class="hidden lg:block"></app-menu>
        <app-authlinks  class="hidden lg:block"></app-authlinks>
    </div>
    </div>

</header>
<router-outlet></router-outlet>
<footer class="bg-blue-700 py-3">Footer</footer>