<section class="bg-emerald-50  h-screen flex">
<div class="w-full pt-48 relative">
    <img class="hidden xl:block absolute left-0 animate-spin  animates-infinite duration-[5000]" src="../../assets/shapes/shape-8.png" alt="">
    <img class="hidden xl:block absolute left-0 bottom-0" src="../../assets/shapes/shape-9.png" alt="">
  
    <div class="container flex-wrap lg:flex-nowrap flex">
        <div class="my-auto max-w-md">
      <div class=" mb-12">
       <p class="text-emerald-600 font-semibold text-lg mb-6">
          Welcome To All India Silks.
       </p>
       <h2 class="text-4xl font-semibold text-slate-800 mb-12">
           Mulberry is the easiest and least expensive type of 
           <span class="text-emerald-600 relative">Silk
               <img src="../../assets/shapes/shape-4.webp" class="absolute -bottom-0 right-0" alt=""> 
           </span> fabric to make.
           
       
       </h2>   
       <p class="text-slate-400 text-xl font-thin mb-2">
           Almost all the silk in the world is mulberry silk, and like other 
           types of this textile, mulberry silk fabric is renowned for its strength, softness, and durability.

       </p>
       <app-button name="Start Booking" size="L" shade="D" animation="C"></app-button>
      </div>
       </div>

      <div class="w-full hidden lg:block ">
       <div class="container flex lg:pt-12 w-[60%] lg:ml-auto ">
           <img src="../../assets/images/Hero-h.png" width="200" alt="">
           <img src="../../assets/images/hero-h1.png" width="300"  alt="">
      
       </div>
          
       </div>
      
   </div>

</div>
    
</section>




<!-- 
<section>
    <div class="container py-24 flex gap-5">
        <app-button (click)="test()" name="Click Me" shade="D" animation="C"></app-button>
        <app-button (click)="test()" name="Sign In" shade="L" size="M" animation="C"></app-button>
        <app-button (click)="test()" name= "Sign Up" size="L" shade="W" animation="C" ></app-button>
        <app-button (click)="test()" name="Text"></app-button>
    </div>
</section> -->
                <!-- <img class="pl-12  pt-12" src="../../assets/images/Hero-h.png" width="500" height="100" alt="">
                <img class="pl-0  pt-0" src="../../assets/images/hero-h1.png" width="500" height="100" alt="">
           
            </div>
           
        </div>
        </div>
    
</section>

 -->


<!-- 
<section>
    <div class="container py-24 flex gap-5">
        <app-button (click)="test()" name="Click Me" shade="D" animation="C"></app-button>
        <app-button (click)="test()" name="Sign In" shade="L" size="M" animation="C"></app-button>
        <app-button (click)="test()" name= "Sign Up" size="L" shade="W" animation="C" ></app-button>
        <app-button (click)="test()" name="Text"></app-button>
    </div>
</section> -->